<button mat-raised-button id="toggle-linear">
</button>
<mat-stepper orientation="vertical" #stepper>
  <mat-step [stepControl]="formGroupAddNodes">
    <form [formGroup]="formGroupAddNodes">
      <ng-template matStepLabel>Add nodes</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Node name" formControlName="nodeName">
      </mat-form-field>
      <button mat-button (click)="addNewNode()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <div>
        <mat-list>
          <mat-list-item class="striped" *ngFor="let node of nodes">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
              {{node}}
            </button>
            <button mat-button color="warn" class=margin-button (click)="removeNode(node)">Remove</button>
          </mat-list-item>
        </mat-list>
      </div>
      <div>
        <button mat-button matStepperNext class="next-button">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="formGroupSelectFirstNode">
    <form [formGroup]="formGroupSelectFirstNode">
      <ng-template matStepLabel>Select first node</ng-template>
      <div>
        <mat-list>
          <mat-list-item class="striped" *ngFor="let node of nodes">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
              {{node}}
            </button>
            <button mat-button color="warn" class=margin-button (click)="removeNode(node)">Remove</button>
          </mat-list-item>
        </mat-list>
      </div>
      <div>
        <button mat-button matStepperNext class="next-button">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="formGroup">
    <form [formGroup]="formGroup">
      <ng-template matStepLabel>Add nodes</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Node name" formControlName="nodeName">
      </mat-form-field>
      <button mat-button (click)="addNewNode()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <div>
        <mat-list>
          <mat-list-item class="striped" *ngFor="let node of nodes">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
              {{node}}
            </button>
            <button mat-button color="warn" class=margin-button (click)="removeNode(node)">Remove</button>
          </mat-list-item>
        </mat-list>
      </div>
      <div>
        <button mat-button matStepperNext class="next-button">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="formGroup">
    <form [formGroup]="formGroup">
      <ng-template matStepLabel>Add nodes</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Node name" formControlName="nodeName">
      </mat-form-field>
      <button mat-button (click)="addNewNode()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <div>
        <mat-list>
          <mat-list-item class="striped" *ngFor="let node of nodes">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
              {{node}}
            </button>
            <button mat-button color="warn" class=margin-button (click)="removeNode(node)">Remove</button>
          </mat-list-item>
        </mat-list>
      </div>
      <div>
        <button mat-button matStepperNext class="next-button">Next</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
