.margin-button {
  margin-left: 10px;
}

.next-button {
  margin-top: 5px;
}

.striped:nth-of-type(odd) {
  background-color: #f5f5f5;
}

.example-margin {
  margin: 0 12px;
}

.flex-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.flex-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  input {
    width: 50%;
  }
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.max-h-dropdown {
  max-height: 47px;
}

.run-btn {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.myDiagramDiv {
  background: whitesmoke;
  width: 800px;
  height: 300px;
  border: 1px solid black;
}
